* {
    font-family: 'Roboto', sans-serif;

}

body {
    background-color:#00FF66;

}

p {
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 1.5em;
}

.home {
    width:100%;
    height: 100vh;
}

.titulo{
    padding-left: 20px; 
    margin-top: 10px; 
    margin-bottom: 10px;
    margin-left: 10px;
    width:50%;
    background-color: white;
    stroke: black;
    border: 1px solid black;
}

.titulo h1 {
    text-align: left; 
}

.subtitulo {
    width: 15%;
    display: flex;
    flex-direction: column;
    margin-left: 70%;
    margin-top: 50vh;
}

.subtitulo hr {
    border: 1px dashed black;
}

/* MAQUETACIÓN DE LA PÁGINA MODAL */
/* MAQUETACIÓN DEL BOTÓN DE LA HOME */
.btn-primary {
 background-color: #BDBDBD;
 font-family: 'Roboto Mono', monospace;
color: black;
position: fixed;
  top: 0;
  right: 0;
  padding: 40px 40px;
margin-top: 10px;
border-color: black;
border-radius: 50%;
}

.btn-primary:hover {
    background-color: blueviolet;
    color: black;
    border-color: black;
}

.modal h1 {
    font-family: 'Roboto', sans-serif;
}

.modal-content {
    border: 1px solid black;
}
.modal-header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
}

/* MAQUETACIÓN BOTÓN SEE MORE */
.pagina {
    margin-top: 2em;
    margin-bottom: 1em;
    background-color: #00FF66;
    font-family: 'Roboto', sans-serif;
    padding: 0.5em 2em 0.5em 2em;
    border: 1px solid black;
    border-radius: 30px;
}

.modal-footer {
    display: flex;
    flex-direction: column;
    background-color:#BDBDBD;
}

.modal-footer hr {
    border: 1px dashed black;
    width: 30%;
}