* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}


body {
    background-color:#00FF66;

}

p {
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-size: 8vw;
}

h2 {
    font-size: 1.5em;
}

header {
    width:100%;
    
}

.home {
    width: 100%;

}

.titulo{
    padding-left: 20px; 
    width:50%;
    background-color: white;
    stroke: black;
    border: 1px solid black;
    margin-top: 10px;
    margin-left: 10px;
}

.titulo h1 {
    text-align: left; 
    margin: 0;
}

.subtitulo {
    width: 15%;
    display: flex;
    flex-direction: column;
    margin-left: 70%;
    margin-top: 50vh;
}

.subtitulo hr {
    border: 1px dashed black;
}

/* MAQUETACIÓN DE LA PÁGINA MODAL */
/* MAQUETACIÓN DEL BOTÓN DE LA HOME */
.btn-primary {
 background-color: #BDBDBD;
 font-family: 'Roboto Mono', monospace;
color: black;
position: fixed;
top: 0;
right: 0;
width: 100px;
height: 100px;
margin-top: 10px;
margin-right: 10px;
border-color: black;
border-radius: 50%;
}


.btn-primary:hover {
    background-color: blueviolet;
    color: black;
    border-color: black;
}

.modal h1 {
    font-family: 'Roboto', sans-serif;
}

.modal-content {
    border: 1px solid black;
    justify-content: space-between;
}
.modal-header {
    border-bottom: 1px solid black;
    flex-direction: column;
    padding: 20px 0px;
}

/* MAQUETACIÓN BOTÓN SEE MORE */
.pagina {
    margin-top: 1.5em;
    margin-bottom: 1em;
    background-color: #00FF66;
    font-family: 'Roboto', sans-serif;
    padding: 0.5em 2em 0.5em 2em;
    border: 1px solid black;
    border-radius: 30px;
}

.modal-footer {
    display: flex;
    flex-direction: column;
    background-color:#BDBDBD;
    padding: 20px 0px;

}

.modal-footer hr {
    border: 1px dashed black;
    width: 30%;
}

.modal-footer p {
    padding: 0.5em 0;
}

/* MEDIA QUERYS: RESPONSIVE */

@media (max-width: 576px) {
    * {
        border: none;
    }


    h1 {
        margin: 0;
        font-size: 13vw;
    }

    h2 {
        font-size: 2.8em;
    }

    p {
        font-size: 1.4em;
    }
    .titulo {
        padding: 20px 10px;
    }

    .subtitulo {
        width: 50%;
        align-items: left;
        margin-left: 10px;
    }

    hr {
        width: 10%;
    }

    .modal-footer {
        text-align: center;
    }
}