.body {
    font-family: 'Roboto Mono', monospace;
}

.heroe {
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 50%; 
}

.row {
    margin-right: 50px;
}

h1 {
    font-size: 5em;
}

header .heroe {
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 100%;
}

.container-fluid {
    margin-top: 0%;
}

hr {
    margin-bottom: 0%;
    margin-top: 0%;
    width: 100%;
}

.image-caption {
    width: 100%;
    white-space: pre-line;
    font-size: 70px;
    line-height: 1;
    background-color: 
}


.seccion2 {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
}

.flex-fill {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.gallery4 [
    height:100%;
]

.seccion2 .sin-margenes {
    margin: 0;
}

.green-rectangle {
    background-color: #00FF66; 
    width: 100%;
}

    /* footer */
.btn-primary {
background-color: #00FF66;
}

footer {
    border: 2px solid black; 
    padding: 20px; 
    margin: 0; 
    width: 100%;
}

.custom-input {
    width: 100%; 
}

footer form {
    margin-bottom: 20px; 
    margin-top: 20px; 
}
/* email */
.form-control {
    width: 1200px; 
    margin-right: 20px;
}








