* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}




body {
    background-color:#00FF66;


}


p {
    font-family: 'Roboto Mono', monospace;
}


h1 {
    font-size: 8vw;
}


h2 {
    font-size: 1.5em;
}
